name: Build Go Project

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Go
      uses: actions/setup-go@v5
      with:
        go-version: "1.22"

    - name: Verify go.mod
      run: |
        if [ ! -f go.mod ]; then
          echo "go.mod not found! Creating one..."
          go mod init nezha-simulator
        fi
        go mod tidy

    - name: Build binary
      run: |
        mkdir -p build
        go build -o build/nezha-simulator main.go

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: nezha-simulator
        path: build/nezha-simulator
